:root {
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
}

body {
    font-family: Roboto;
    margin: 0px;

}

a {
    text-decoration: none;
    color: black;
}

.spacer {
    margin-bottom: 15px;
}

.gap {
    gap: 15px;
}

.heading {
    font-family: Shrikhand;
}

.nav-header {
    box-shadow: 0 5px 15px 15px rgba(17, 16, 16, 0.1);
    position: relative;
    z-index: 1;
}

.container {
    margin: 0 45px;
}

.logo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.book {
    margin: 0 45px;

}

.explore {
    background-color: var(--secondary);
    color: #f2f2f2;
    text-decoration: none;
    display: inline-flex;
    gap: 10px;
    border: 1px transparent;
    border-radius: 46px;
    align-items: center;
    font-size: medium;
    justify-content: space-around;
    padding: 15px 25px;
    box-shadow: 0 5px 15px 0 rgba(70, 70, 70, 0.1);
}

.locale {
    background-color: #F2F2F2;
    display: flex;
    padding: 30px;
    justify-content: center;


}

.works {
    display: flex;
    flex-direction: column;
}

.list {
    border: 1px transparent;
    background-color: whitesmoke;
    border-radius: 20px;
    justify-content: flex-start;
    box-shadow: 0 5px 15px 0 rgba(18, 17, 17, 0.1);
    display: flex;

    align-items: center;
}

.listnum {
    padding: 5px 10px;
    border: 1px transparent;
    border-radius: 46px;
    background-color: var(--primary);
    color: #f2f2f2;
    text-decoration: none;
    margin: -15px;
    align-items: center;
}

.listnumitem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 40px 40px;
}

.icon {
    color: #525b6b;
}

.list:hover {
    background-color: rgb(222, 208, 222);
    icon: var(--primary);
}

.card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    object-position: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 5px solid #Fff;
    background-color: #Fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(70, 70, 70, 0.1);
    position: relative;
}

.card-new  {
    background-color: var(--tertiary);
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 15px;
    color: rgba(0,0,0, 0.4);
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    text-decoration: none;
}

.card-descr {
    text-decoration: none;
}

.card-body i {
    fontsize: 15px;
}

.ratingheart {
    font-size: 20px;
    align-items: baseline;
}

.ratingheart:hover {

}

.menunav-header {

    position: relative;
    
}

.menucard {
    display: flex;
    flex-direction: column;
    border: 5px solid #Fff;
    background-color: #Fff;
    overflow: hidden;
    border-radius: 0;
    position: relative;
}

.entreemenu {
    width: 10px;
    height: 5px;
    background-color: var(--tertiary);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    
}

.footer a {
    color: #F2F2F2;



}